
<div class="flex flex-row place-content-center place-items-center  w-full h-auto">
  <div class=" bg-black bg-opacity-40 rounded-md text-white">
    <!-- Main content -->
    <main role="main" class="py-10 px-4 w-min-[50%]">
      <div class="inline-grid">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="text-2xl">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="">
              <img class="w-10 h-10" src="{{(user.photoURL) ? user.photoURL : '../../../../../assets/images/dummy-user.png'}}"
                alt="{{user.displayName}}">

                <div class="align-bottom align-items-center space-y-6">
                  <div class="inline-flex flex-row justify-between space-x-8 ">
                    <h1>Hello <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong> !</h1>
                    <button #changeDisplayName (click)="OpenChangeDisplayNameDialog()" class="text-center align-middle rounded-lg p-2 bg-blue-400 hover:bg-opacity-80">Change DisplayName</button>
                </div>
                <br>
                <hr class="text-gray-400 py-4">
                <!-- <p>User ID: <strong>{{user.uid}}</strong></p> -->
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
              <br>
              <hr class="text-gray-400 py-4">
              <div class="inline-flex flex-row justify-between gap-8">
                <button #resetpassword (click)="OpenDeleteAccountDialog()" class="text-center rounded-lg p-2 bg-red-400 hover:bg-opacity-80">Delete account</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
