<section class="flex flex-row w-full p-4 h-auto place-content-center ">
    <div class="  bg-black bg-opacity-60 rounded-md max-w-6xl min-w-[50%]">
        <div class=" space-y-5 p-24">
          <header >
            <h1 class="text-2xl text-white">So what is all the fuzz about?</h1>
            <!-- <h3 class="text-xl text-white">So what is all the fuzz about?</h3> -->
          </header>

          <article class="text-lg text-white">
            Super memo is an application where you create your own grocery memos. Instead of going through with the tedious process where you have to either make a grocery list physical paper
            or type it all down on a notes application, Super memo is designed
            to be a "create and forget" type of thing, where create a memo, add your groceries by clicking on the
            ingredients you find on the list and save it, DONE!

            This application is a work in pogress still.

          </article>
          <footer class="text-blue-200">@Kimmo - Founder 2022</footer>
        </div>
    </div>
</section>

