<div id="memomenu" class="inline-flex w-full flew-row flex-nowrap justify-center mb-10 transform">
  <div class="flew-row  bg-black bg-opacity-50 p-10 space-x-4 rounded-lg">
    <button  (click)="OpenNewMemoDialog()" class="text-blue-200 hover:text-white hover:bg-opacity-5 hover:-translate-y-1 bg-white bg-opacity-20 p-2 rounded-lg transform">Add memo</button>
    <button (click)="OrderMemosByLetter()" class="text-blue-200 hover:text-white hover:bg-opacity-5 hover:-translate-y-1 bg-white bg-opacity-20 p-2 rounded-lg transform">Order By Letter</button>
    <button (click)="OrderMemosByID()" class="text-blue-200 hover:text-white hover:bg-opacity-5 hover:-translate-y-1 bg-white bg-opacity-20 p-2 rounded-lg transform">Order By ID</button>
    <button (click)="OrderMemosByCreated()" class="text-blue-200 hover:text-white hover:bg-opacity-5 hover:-translate-y-1 bg-white bg-opacity-20 p-2 rounded-lg transform">Order By Created</button>
    <button (click)="StackMemos()" class="text-blue-200 hover:text-white hover:bg-opacity-5 hover:-translate-y-1 bg-white bg-opacity-20 p-2 rounded-lg transform">Stack</button>
  </div>
</div>
