
.hide_item{
  opacity : 0 !important;
}
.show_item{
  animation: fadeIn 0.5s ease-in 0.5s ;
}

.pointer-finger {
  position: relative;
  object-fit: fill;
  width: 6rem;
  height: 6rem;
  animation: wave 1.4s ease-in-out infinite;
}
.shake-text {
  animation: shakeX 0.12s ease-in-out infinite;
}


@keyframes wave{
  0% {
    // height: 6rem;
    // transform: scale(1);
    transform: translate(-75px,-80px);

  }
  50%{
    // height: 8rem;
    // transform: scale(1.2);
    transform: translate(-100px,-50px);  }
  100%{
    // height: 6rem;
    // transform: scale(1);
    transform: translate(-75px,-80px);  }
}
@keyframes shakeX{
  0% {
    // height: 6rem;
    // transform: scale(1);
    transform: translateX(-5px);

  }
  50%{
    // height: 8rem;
    // transform: scale(1.2);
    transform: translateX(5px);  }
  100%{
    // height: 6rem;
    // transform: scale(1);
    transform: translateX(-5px);  }
}

@keyframes fadeIn{
  from {
    opacity : 0;
  }
  to{
    opacity : 1;
  }
}
