<nav class="flex flex-col w-screen mb-10">
  <!-- <header class="text-center place-self-center text-6xl select-none"><h1>Super Memo!</h1></header> -->
  <div class="bg-gray-900 inline-flex bg-opacity-40 w-full place-content-center">
    <header class=" h-1/2 select-none "><img style="min-width : 32rem;"  src="../../../assets//images/logo.png" alt=""></header>
  </div>
  <div class="place-self-center mt-4">
    <ul class="inline-flex space-x-8 row-end-auto">
      <li class="hover-glow"><a id="home"  href="#" (click)="ClickHandler($event)">Home</a></li>
      <li class="hover-glow"><a id="about" href="#" (click)="ClickHandler($event)" >About</a></li>
      <li class="hover-glow"><a id="login" href="#" (click)="ClickHandler($event)">Login</a></li>
    </ul>
  </div>
</nav>
