<div class=" flex flex-col place-items-center place-content-center text place-self-center w-full h-full text-lg transform ">
  <div class="p-8 gap-4  bg-opacity-50 rounded-md ">
    <div class="text-center text-white mb-4">
      <!-- <h1 class="text-center text-xl text-white">Delete account</h1> -->
      <p class="text-center">Are you sure you want to delete your account?</p>
      <hr class="text-gray-400  py-4">
      <div class="inline-flex flex-row space-x-4">
        <!-- Calling SignIn Api from AuthService -->
        <button (click)="DeleteAccount(false)" class="text-center rounded-lg p-2 bg-green-400 hover:bg-opacity-80">No</button>
        <button (click)="DeleteAccount(true)" class="text-center rounded-lg p-2 bg-red-400 hover:bg-opacity-80">Yes</button>
      </div>
    </div>
  </div>
</div>
