<div id="__item" [ngStyle]="{maxWidth: max_width}" class="w-auto bg-white rounded-md _memo_lists">
    <section  class="w3-card-4 p-6">
        <!-- Memo Title -->
        <header class="w-full justify-between mb-4 ">
          <p> {{currentActiveMemoIndex}} </p>
          <h1>{{memo.Title}}</h1><p>{{memo.MemoIcon}}</p>
        </header>
        <section><p class="text-blue-500">Created {{memo.CreatedDate.toLocaleDateString()}} </p></section>
        <!-- Description -->
        <article class="border-b-2 border-gray-300">
          <p>{{memo.Description}}</p>
        </article>

        <!-- Output all current ingredients for the current shopping list -->
        <div cdkDropList class="ingredient-list cursor-move" (cdkDropListDropped)="drop($event)">
          <ul cdkDrag class="ingredient-box" #_currentList *ngFor="let ingredient of memo.Ingredients">
            <div class="hover:bg-gray-200 hover:text-blue-800 min-h-full">
              <a  class=" "  >
                <li class="w-full inline-flex flex-row justify-between items-center">
                  <div #ingredientIcon class="inline-flex gap-2 my-1 " >
                    <p class="text-white ingredient_item_" id="_ingredientItem" #_currenticon>{{ingredient.Icon}}</p> <span #_currentname>{{ingredient.Name}}</span>
                  </div>
                  <div class="inline-flex flex-row justify-end  ">
                    <button *ngIf="memo.EditMemo"  (click)="DecrementIngredient(_currenticon)" class=" hover:opacity-40  cursor-pointer mr-2 w-full h-full">➖</button><p >x{{ingredient.Amount}}</p>
                  </div>
                </li>
              </a>
            </div>
          </ul>
        </div>

        <section #buttonSection [ngClass]="{'hidden': IsDisabled === true}" class="w-auto mt-4 flex flex-row items-center flex-nowrap content-center justify-between w3-monospace text-white">
          <button #removeButton id="remove-button" (click)="DeleteMemo()" class="text-center rounded-lg p-2 bg-gray-400 hover:bg-opacity-80">{{Icons.remove.icon}}</button>
          <!-- <button #addButton id="add-button"  (click)="memo.AddIngredients =! memo.AddIngredients; hasClicked = true;" class="text-center rounded-lg p-2 bg-gray-400 hover:bg-opacity-80">{{memo.AddIngredients ? 'Close' : 'Add'}}</button> -->
          <button #editButton (click)="ToggleEditMemo()" id="edit-button" class="text-center rounded-lg p-2 bg-gray-400 hover:bg-opacity-80"> {{memo.EditMemo ?  "Close" : Icons.edit.icon}}</button>
        </section>
      </section>
      <!-- "Ingredient List modal" -->
      <div #ingredientMenu class="ingredient-list-default" [ngClass]="{'open-list': memo.EditMemo && hasClicked, 'close-list' : !memo.EditMemo && hasClicked}"  class="flex" (blur)="memo.EditMemo = false" >
        <app-ingredients-modal (NewIngredientsAdded)="AddIngredientToList($event)"  [ngStyle]="{maxWidth: max_width}" *ngIf="memo.EditMemo"></app-ingredients-modal>
      </div>
</div>

