<div style="max-width: 20rem;" class="w3-card-4 p-4">
  <section>

    <header >
      <h1>{{Title}}</h1> <p>{{MemoIcon}}</p>
    </header>

    <article>
      <p>{{Description}}</p>
    </article>
  </section>
  <section class="w-full mt-4 flex flex-row flex-nowrap content-center justify-between w3-monospace text-white">
      <button id="remove-button" class="rounded-md p-2 bg-blue-800 hover:bg-opacity-80">Remove memo</button>
      <button id="edit-button" class="rounded-md p-2 bg-blue-800 hover:bg-opacity-80"> Edit Memo</button>
  </section>
</div>
