/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200&display=swap');

$dialogBackgroundColor : 115, 103, 80;
:root{
  font-family: 'Poppins', sans-serif;
}
html {
  height : 100%;
  width: 100%;
}


.hover-glow :hover{
background-color: rgba(0,0,0,10%);
padding-top: 1rem;
padding-bottom: 1rem;
border-radius: 20%;

}

.cdk-overlay-container{
  overflow-y: scroll;
}
.cdk-global-scrollblock {

}

.cdk-global-scrollblock {
  pointer-events:all;
  height: 100vh;
  overflow-y: unset;
}

// override
.custom-dialog-container .mat-dialog-container{
  border-radius : 0.4rem;
  background-color: rgba(115, 103, 80,0.6);
}

.cdk-overlay-dark-backdrop{
  background: rgba(0,0,0,0.82) !important;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-error {
  color: #faaca6;
}


.cdk-overlay-pane{
  top: 20% !important;
  position: fixed !important;
}


.cdk-overlay-container{
  position: static !important;
}

.cdk-overlay-backdrop, .cdk-overlay-dark-backdrop, .cdk-overlay-backdrop-showing{
  height: 100% !important;
}

/* ----------- iPhone 12 Mini ----------- */

/* 2340x1080 pixels at 476ppi */
@media only screen
and (device-width: 360px)
and (device-height: 780px)
and (-webkit-device-pixel-ratio: 3) {

  .cdk-global-scrollblock {
    pointer-events:all !important;
    height: 100vh !important;
    overflow-y: scroll !important;
  }
  .cdk-overlay-container {
    pointer-events:all !important;
  }

  .cdk-global-overlay-wrapper {
    display: flex !important;
    position: absolute !important;
    z-index: 1000;
  }
}

/* ----------- iPhone 12, 12 Pro ----------- */

/* 2532x1170 pixels at 460ppi */
@media only screen
and (device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {
  .cdk-global-scrollblock {
    pointer-events:all !important;
    height: 100% !important;
    overflow-y: scroll !important;
  }
  .cdk-overlay-container {
    pointer-events:all !important;
  }

  .cdk-global-overlay-wrapper {
    display: flex !important;
    position: absolute !important;
    z-index: 1000;
  }
}
@media only screen and(orientation:portrait)
and (device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {
  .cdk-global-scrollblock {
    pointer-events:all !important;
    height: 100% !important;
    overflow-y: scroll !important;
  }
  .cdk-overlay-container {
    pointer-events:all !important;
  }

  .cdk-global-overlay-wrapper {
    display: flex !important;
    position: absolute !important;
    z-index: 1000;
  }

  .cdk-overlay-dark-backdrop {
    height: 100% !important;
  }

  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    height: 100% !important;
  }
  .cdk-overlay-pane{
    max-width: unset !important;
    z-index: -1 !important;
  }

  #dk-overlay-0{
    max-width: unset !important;
  }
}

.z-index-1000{
  z-index: 1000 !important;
}

@media only screen and(orientation : portrait)
and (device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {
  .cdk-global-scrollblock {
    pointer-events:all !important;
    height: 100% !important;
    overflow-y: scroll !important;
  }
  .cdk-overlay-container {
    pointer-events:all !important;
  }

  .cdk-global-overlay-wrapper {
    display: flex !important;
    position: absolute !important;
    z-index: 1000;
  }

  .cdk-overlay-dark-backdrop {
    height: 100% !important;
  }

  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    height: 100% !important;
  }
  .cdk-overlay-pane{
    max-width: unset !important;
    z-index: -1 !important;
  }

  #dk-overlay-0{
    max-width: unset !important;
  }
}

/* ----------- OnePlus 6 ----------- */
@media only screen
and (min-width: 412px)
and (max-width: 869px) {

  .cdk-global-scrollblock {
    pointer-events:all !important;
    height: 100% !important;
    overflow-y: scroll !important;
  }
  .cdk-overlay-container {
    pointer-events:all !important;
  }

  .cdk-global-overlay-wrapper {
    display: flex !important;
    position: absolute !important;
    z-index: 1000;
}

}
@media only screen and (orientation : portrait)
and (min-width: 412px)
and (max-width: 869px) {

  .cdk-global-scrollblock {
    pointer-events:all !important;
    height: 100% !important;
    overflow-y: scroll !important;
  }
  .cdk-overlay-container {
    pointer-events:all !important;
  }

  .cdk-global-overlay-wrapper {
    display: flex !important;
    position: absolute !important;
    z-index: 1000;
  }

  .cdk-overlay-dark-backdrop {
    height: 100% !important;
  }

  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    height: 100% !important;
  }
  .cdk-overlay-pane{
    max-width: unset !important;
    z-index: -1 !important;
  }

  #dk-overlay-0{
    max-width: unset !important;
  }
}


/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) and (not ( orientation:portrait))  {
  .repeat-background-x-y{
    background-repeat: repeat;
  };
  .cdk-overlay-dark-backdrop {
    height: 100% !important;
  }

  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    height: 100% !important;
  }
  .cdk-overlay-pane{
    max-width: unset !important;
    z-index: -1 !important;
  }

  #dk-overlay-0{
    max-width: unset !important;
  }

}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .cdk-overlay-dark-backdrop {
    height: 100% !important;
  }

  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    height: 100% !important;
  }


}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

}
